.HelveticaNeueLTPro-Roman { 
	font-family: HelveticaNeueLTPro-Roman;
	font-weight: normal;
	font-style: normal;
}
.HelveticaNeueLTPro-Md { 
	font-family: HelveticaNeueLTPro-Md;
	font-weight: normal;
	font-style: normal;
}
.HelveticaNeueLTPro-Bd { 
	font-family: HelveticaNeueLTPro-Bd;
	font-weight: normal;
	font-style: normal;
}
.HelveticaNeueLTPro-Hv { 
	font-family: HelveticaNeueLTPro-Hv;
	font-weight: normal;
	font-style: normal;
}

html {
    background-color: black;
    font-family: HelveticaNeueLTPro-Md; 
    color: white;
    font-size: 18px;

}



h1, h2, h3, h4, h5, h6 {
    font-family: HelveticaNeueLTPro-Md; 
    color: white;
    font-size: 6vmax;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 4vmax;
    padding-bottom: 2%;
}

h3 {
    font-size: 3vmax;
    padding-top: 2%;
}

h4 {
    font-size: 2vmax;
}

b, strong {
    color: #7BADB6;
}

u, .underline {
    color: #A9431E;
    text-decoration: none;
}


i, em {
    color: #FFCFBE;
    font-style: normal;
}

p {
    font-family: HelveticaNeueLTPro-Roman; 
    color: white;
    padding: 10;
    
}

.target {
    
}

/* unvisited link */
a:link {
    color: #FFCFBE;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #7BADB6;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #FFCFBE;
    text-decoration: underline;

}

/* selected link */
a:active {
    color: #FFCFBE;
    text-decoration: underline;
} 

img {
    max-width: 100%;
    height: auto;
}

.outline-2 {
    padding: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title {
    text-align: left;
    padding-left: 5%;
}
