/* some style */
.svg-container { 
    
}

.svg-content { 
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;

}

.svg-style {
    border: "0px solid";
    box-sizing: border-box;
    cursor: crosshair;
}

.triangle {
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    

}
